.EventCard > img {
  width: 5rem;
  height: 5rem;
}

.bgimgg {
  background-image: url("../../images/image5.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
}

.bgu {
  background-color: #2c0022;
}

.bd {
  border: 2px solid #fc0160;
}
.dsf {
  color: #00495c;
  font-family: "IBM Plex Sans";
}

.abc {
  height: max-content;
}
