.main-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0px;
	color: #1bbee9;
	background: url("../../images/rear-view.webp") no-repeat;
	height: 100vh;
	background-size: cover;
}
.left {
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(8px);
	padding: 15px;
	padding-left: 90px;
	padding-right: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-size: 1.5vw;
	margin: 10px;
}
.date {
	text-align: center;
	font-size: 2vw;
}
.details {
	display: flex;
	width: 100%;
	font-size: 1vw;
	justify-content: space-between;
}
.knowmore {
	color: #fc0160;
}
.image {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 1300px) {
	.left {
		width: 50vw;
		margin-top: 10vw;
	}
}
@media only screen and (max-width: 1000px) {
	.left {
		padding: 20px;
	}
}
@media only screen and (max-width: 880px) {
	.left {
		margin-top: 15vh;
		width: 50vw;
	}
	.main-container {
		justify-content: center;
	}
}
@media only screen and (max-width: 630px) {
	.left {
		margin-top: 30vw;
		font-size: 2vw;
	}
	.title {
		font-size: 2vh;
	}
	.date {
		font-size: 2vh;
	}
	.details {
		font-size: 1.5vh;
	}
}
@media only screen and (max-width: 700px) {
	.left {
		margin-top: 20vw;
	}
	.title {
		font-size: 2vh;
	}
	.date {
		font-size: 2vh;
	}
	.details {
		font-size: 1.5vh;
	}
}
@media only screen and (max-width: 580px) {
	.left {
		margin-top: 20vh;
		width: 80vw;
	}
	.main-container {
		justify-content: center;
	}
}
