html {
  font-family: "IBM Plex Sans";
  background: hsla(240, 23%, 29%, 1);

  background: radial-gradient(
    circle,
    hsla(240, 23%, 29%, 1) 0%,
    hsla(240, 46%, 7%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(240, 23%, 29%, 1) 0%,
    hsla(240, 46%, 7%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(240, 23%, 29%, 1) 0%,
    hsla(240, 46%, 7%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3A3A5C", endColorstr="#0A0A1B", GradientType=1 );
}
.EventCardd {
  display: flex;
  background: linear-gradient(
    89.62deg,
    rgba(41, 18, 78, 0.8) 35.41%,
    rgba(183, 44, 161, 0.4) 99.72%
  );
  backdrop-filter: blur(1.85096px);
  backdrop-filter: blur(1.85096px);
  padding: 16.6586px 9.25478px;
  flex-direction: column;
  width: 20vw;
  border-radius: 11px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}
@media only screen and (max-width: 1290px) {
  .EventCardd {
    width: 23vw;
    margin: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .EventCardd {
    width: 35vw;
    margin: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .EventCardd {
    width: 50vw;
    margin: 5px;
  }
}
@media only screen and (max-width: 515px) {
  .EventCardd {
    width: 80vw;
    margin: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .EventCardd {
    width: 90vw;
    margin: 5px;
  }
}

@media only screen and (max-width: 358px) {
  .r3 {
    flex-direction: column;
    /* padding: 2px; */
  }
  .namee,
  .buttonn {
    margin-top: 5px;
  }
}
.EventCardd .image {
  /* width: %; */
  display: flex;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
}
.EventCardd img {
  width: 100%;
  /* object-fit: contain; */
  text-align: center;
  margin: auto;
  /* object-fit: contain; */
}
.r1 {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  color: #fc0160;
  flex-wrap: wrap;
}
.r2 {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  flex-wrap: wrap;
}
.r3 {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  align-items: center;
  flex-wrap: wrap;

  /* margin-top: 4px; */
}
.r1,
.r2,
.r3 {
  margin-top: 6px;
}
.namee {
  font-weight: 600;
}
.locationn,
.timee,
.pricee,
.namee,
.buttonn {
  color: white;
}
.buttonn {
  padding: 12px 20px;
  font-family: "IBM Plex Sans";
  letter-spacing: 0.1em;
  background: #2c0022;
}

/* Fix */
.locationn,
.namee,
.pricee {
  flex: 1;
  text-align: left;
  margin-right: 5px;
}
.timee {
  flex: 1;
  text-align: right;
  margin-left: 5px;
}
