.EventContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.EventContainerChild {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}

.eventImage {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventImage > img {
  width: 60%;
  border-radius: 5px;
  height: 90%;
}

.eventDetails {
  width: 60%;
  max-width: 800px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 0.15rem;
  padding-right: 1rem;
}

.eventDetailsTop {
  width: max-content;
  max-width: 100%;
}

.eventTitle {
  font-weight: 500;
  font-size: 3.5rem;
  display: flex;
}

.eventInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 0;
}

.eventInfo > div:nth-child(2) > p {
  color: #fc0160;
}

.eventInfo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.eventInfo > div > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.eventDescription {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.eventDescription > div > div {
  display: flex;
  color: #1bbee9;
  gap: 0.5rem;
}

.eventDescription > div > div > p:nth-child(1) {
  font-weight: 600;
}

.eventResgisterButton {
  background: linear-gradient(
    89.62deg,
    rgba(41, 18, 78, 0.8) 35.41%,
    rgba(183, 44, 161, 0.4) 99.72%
  );
  border: 1px solid #fc0160;
  width: 9rem;
  height: 3rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 426px) {
  .eventInfo {
    margin-top: 0;
  }
  .eventDescription > div > div {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 767px) {
  .EventContainerChild {
    flex-direction: column;
  }
  .eventImage {
    width: 100%;
  }
  .eventDetails {
    width: 100%;
  }
  .eventTitle {
    font-size: 3rem;
  }
  .eventInfo {
    margin-top: 0;
  }
}

@media only screen and (max-width: 880px) {
  .eventImage > img {
    width: 250px;
    min-width: 100px;
  }
}
