.footer {
    background: url('../../images/footer-assets/bg-dit-university\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    max-width: 100vw;
    height: 401px;
    background-color: #000;
    padding-top: 7.5%;
    padding-left: 10%;
    padding-bottom: 3%;
    display: flex;
    font-family: 'IBM Plex Sans';
}

 .footer-content-left {
    color: #1BBEE9;
}

 .footer-content-left>div {
    display: flex;
}

.footer-content-left >.location-content>a> h5 {
    
    font-style: normal;
}

.footer-content-left>.location-content>a>h2 {
    
    font-style: normal;
    max-width: 12vw;
}

.footer-content-left>.location-content>a:hover{
    text-decoration: underline;
}

i{
    color: #FC0160;
}

.footer-content-left>.location-content>.location-icon{
    margin-right: 10%;
    margin-top: 4%;
}

.footer-content-left>.call-content>.call-icon{
    
    margin-right: 8%;
    margin-top: 2%;
}

.footer-content-left>.call-content>a:hover{
    text-decoration: underline;
}

.call-content{
    margin-top: 20%;
}

.footer-content-right{
    color: #1BBEE9;
    margin-left: 35vw;
}

.footer-content-right>.download-app>a:hover{
    text-decoration: underline;
}
.footer-content-right>.download-app{
    display: flex;
}

.footer-content-right>.download-app>img{
    margin-left: 2vw;
}

.footer-content-right>.social-icons{
    display: flex;
}

@media only screen and (max-width: 550px){
    .footer-content-right>.download-app{
        display: inline-block;
    }
    .footer-content-right>.download-app{
        right: 1rem;
    }
    .footer-content-right>.download-app>img{
        margin-top: 5vw;
    }
    .footer-content-right>.social-icons{
        right: 1rem;
    }
}
@media only screen and (max-width: 490px){
    .footer-content-right>.social-icons>div>.px-4{
        font-size: smaller;
        padding: 0 0.75rem;
    }
    .footer-content-right>.download-app>img{
        scale: 0.8;
    }
}
@media only screen and (max-width: 430px){
    .footer-content-right>.social-icons{
        display: inline-block;
    }
    .footer-content-right>.social-icons>div{
        margin-top: 0.5rem ;
    } 
    .footer-content-right>.download-app{
        right: 0rem;
        top: 2rem;
    }
    .footer-content-right>.social-icons{
        right: 1rem;
        bottom: 12rem;
    }
    .footer-content-right>.download-app>img{
        scale: 0.8;
    }
}
@media only screen and (max-width: 330px){
    .footer-content-right>.download-app{
        right: 0rem;
        top: 1.5rem;
    }
    .footer-content-right>.social-icons{
        right: 1rem;
        bottom: 14rem;
    }
    .footer-content-right>.download-app>img{
        scale: 0.7;
    }
}
