.footer {
    background: url('../../images/footer-assets/FOOTER.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    max-width: 100vw;
    height: 401px;
    background-color: #000;
    padding-top: 7.5%;
    padding-left: 10%;
    padding-bottom: 3%;
    display: flex;
    font-family: 'IBM Plex Sans';
}

 .footer-content-left {
    color: #1BBEE9;
}

 .footer-content-left>div {
    display: flex;
}

.footer-content-left >.location-content>a> h5 {
    
    font-style: normal;
}

.footer-content-left>.location-content>a>h2 {
    
    font-style: normal;
    max-width: 12vw;
}

.footer-content-left>.location-content>a:hover{
    text-decoration: underline;
}

i{
    color: #FC0160;
}

.footer-content-left>.location-content>.location-icon{
    margin-right: 10%;
    margin-top: 4%;
}

.footer-content-left>.call-content>.call-icon{
    
    margin-right: 8%;
    margin-top: 2%;
}

.footer-content-left>.call-content>a:hover{
    text-decoration: underline;
}

.call-content{
    margin-top: 20%;
}

.footer-content-right{
    color: #1BBEE9;
    margin-left: 35vw;
}

.footer-content-right>.download-app>a:hover{
    text-decoration: underline;
}
.footer-content-right>.download-app{
    display: flex;
    position: absolute;
    top: 6rem;
    right: 5rem;
}

.footer-content-right>.download-app>img{
    margin-left: 2vw;
}

.footer-content-right>.social-icons{
    display: flex;
    position: absolute;
    bottom: 9rem;
    right: 4rem;
}


@media only screen and (max-width: 630px){
    .footer{
        display: inline-block;
        width: 100vw;
        padding: 0;
        align-items: center;
        position:relative;
    }
    .footer>.footer-content-left{
        width: 100vw;
        align-items: center;
        margin-top: 10%;
        padding-left: 7.5%;
    }
    .footer>.footer-content-left>.call-content{
        margin-top: 5%;
    }
    .footer-content-left >.location-content>a> h5 {
    
        font-size: 2rem;
    }
    .footer-content-left>.location-content>a>h2 {
    
        max-width: 80vw;
    }
    .footer-content-left>.location-content>.location-icon{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 4%;
    }
    .footer>.footer-content-left>.call-content{
        font-size: 1.3rem;
    }
    
    .footer-content-left>.call-content>.call-icon{
        
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
    }
    .footer>.footer-content-right>.download-app{
        left: 20%;
        right: 0;
        top: 70%;
        margin-right: 5rem;
    }
    .footer-content-right>.social-icons{
        left: 20%;
        right: 0;
        top: 88%;
    }
}