html{
    background: linear-gradient(90deg, rgba(58,58,92,1) 0%, rgba(10,10,27,1) 100%);
}
.widthhund{
   background-color: black;
}
.fbm{
    display: flex;

}
.color{
    color: #1BBEE9;
}
.more{
    color: #FC0160;
    text-align: center;
    font-size: 3vh;
}