html {
	background: linear-gradient(
		90deg,
		rgba(58, 58, 92, 1) 0%,
		rgba(10, 10, 27, 1) 100%
	);
	width: 100vw;
	overflow-x: hidden;
}
.widthhund {
	background-color: black;
}
.fbm {
	display: flex;
}
.color {
	color: #1bbee9;
}
.more {
	color: #fc0160;
	text-align: center;
	font-size: 3vh;
}

::-webkit-scrollbar-track {
	background: linear-gradient(
		180deg,
		hsla(240, 23%, 29%, 1) 0%,
		hsla(240, 46%, 7%, 1) 100%
	);
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 10px;
	background: linear-gradient(
		180deg,
		hsla(240, 23%, 29%, 1) 0%,
		hsla(240, 46%, 7%, 1) 100%
	);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(
		180deg,
		rgb(41, 18, 78) 0%,
		rgb(183, 44, 162) 100%
	);
}
