.maincontainerAboutUs {
	width: 100vw;
	height: calc(100vh - 64px);
	max-height: calc(100vh - 64px);
	overflow: hidden;
	position: relative;
	background: radial-gradient(
				80.21% 80.21% at 33.31% 95.58%,
				#3a3a5c 0%,
				#0a0a1b 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
		#0b0a1b;
}
.aboutUsContent {
	height: 100%;
	width: 100%;
	background: none;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}

.absimage {
	position: absolute;
	bottom: 0;
	right: 2rem;
	width: 20rem;
}
.logo {
	position: absolute;
	transform: rotate(358deg);
	bottom: -8rem;
	left: 0;
	width: 25rem;
}

.teamsHolder > div {
	width: 10rem;
}

@media only screen and (max-width: 672px) {
	.teamsHolder {
		justify-content: center;
	}
}
